<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CC-BaseballStats.Info</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Teams<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li class="dropdown-header">All Time</li>-->
                        <li><a href = "{% url 'teams' %}">Standings</a></li>
                        <li><a href="{% url 'active_franchises' %}">Active Franchises</a></li>
                        <li><a href="{% url 'inactive_franchises' %}">Inactive Franchises</a></li>
                    </ul>
                    <li><a href = "{% url 'players' %}">Players</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Player Stats<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'batting' %}">Batting</a></li>
                        <li><a href="{% url 'pitching' %}">Pitching</a></li>
                        <li><a href="{% url 'fielding' %}">Fielding</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'birthday' %}">Birthdays</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Hall of Fame<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'hall' %}">% Vote</a></li>
                        <li><a href="{% url 'hall_by_year' %}">By Year</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Demographics<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'birth_country' %}">Birth Country</a></li>
                        <li><a href="{% url 'birth_country_by_year' %}">Birth Country by Year</a></li>
                    </ul>
                <li><a href = "/admin/">Admin</a></li>
                <li><a href="mailto:joel.goldstick@gmail.com">Contact</a></li>
             </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

